nav ul,
nav ol{
  list-style:none;
  list-style-image:none
}

.nav {}
.nav li {
  display: inline;
  float: left;
}
.nav li:first-child {
  border-left: none;
}

.nav a {
  color: #666;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

@media (max-width: 320px) {
  .nav a {
    padding: 0 5px;
  }
}

.nav a:hover {
  color: #1F7C07;
  text-decoration: underline;
}

.nav.nav--muted a {
  color: #999;
}
.nav.nav--muted a:hover {
  color: #fff;
}
.nav.nav--muted li {
border-left-color: #666;
}